*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; /* ✅ Taşmayı engeller */
  font-family: var(--font-poppins), sans-serif;
}

.global-video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* İçerik üstte kalsın */
  overflow: hidden;
  object-fit: cover;

}

.global-video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6); /* karartma / shadow efekti */
}

.global-content-overlay {
  position: relative;
  z-index: 1;
}