.cookieMain{
    background-color: white;
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cookieMain div, .cookieMain h1{
    width: 45%;
    text-align: start;
    align-items: center;
}